@charset "UTF-8";
/* CSS Document */


/* //////////////////////////////////////// */
/* /////////// Estilos Generales ////////// */
/* //////////////////////////////////////// */

body{ 
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f1f3;}

a{ text-decoration: none; }

.loading{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 128px;
	margin: -64px 0 0 -64px; 
}

#general-wrapper{ 
	display: block;
	float: left;
	margin-top: 50px;
	margin-bottom: 30px; }


/* //////////////////////////////////////// */
/* /////////////// Header ///////////////// */
/* //////////////////////////////////////// */

.header{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f0f1f3;
	z-index: 999;
	transition: all 0.3s;
}

	.header.header-shadow{
		-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.1);
  	-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.1);
  	box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.1);
	}

	.header > h1{
		width: 50%;
		text-align: left;
		font-weight: 400;
		color: #44516c;
		font-size: 20px;
		margin: 0;
		position: absolute;
		top: 12px;
		left: 15%;
		display: inline-block;
	}

	.header > img.search-icon{
		width: 30px;
		height: 30px;
		float: left;
		margin: 1px 0 0 4%;
	}

	.header > img.menu-icon{
		float: right;
		margin: 1px 5% 0 0;
		width: 30px;
		height: 30px;
	}

/* //////////////////////////////////////// */
/* ///////////// Source List ////////////// */
/* //////////////////////////////////////// */

.source-wrapper{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
}

.source-card{
	float: left;
	width: 90%;
	height: auto;
	background-color: #fff;
	margin-left: 5%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

	.source-card img{
		display: block;
		float: left;
		width: 30px;
		height: auto;
		margin: 10px 0 0 10px;
	}

	.source-card a h1{
		float: left;
		width: 60%;
		text-align: left;
		font-weight: 700;
		color: #44516c;
		font-size: 15px;
		margin: 15px 0;
		padding-left: 20px;
	}

	.go{
		float: right;
		height: 100%;
		width: 50px;
		height: 50px;
		border-radius: 0 5px 5px 0;
		background-color: #fff;
	}

	.go img{
		width: 20px;
		height: 20px;
		display: block;
		margin: 15px;
	}


/* //////////////////////////////////////// */
/* /////////////// News List ////////////// */
/* //////////////////////////////////////// */

.news-wrapper{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
}

.category{
	float: left;
	width: 15%;
	height: 100%;
	position: relative;
	display: list-item;
}

.outer {
  background-color: pink;
  width: 100%;
	position: relative;
	display: inline-block;
	margin: 0;
}

.inner {
  font-size: 13px;
  color: #878787;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  text-align: right;
  margin-top: 50px;
}

.inner:after{
	content: "";
	width: 130px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -100%;
  z-index: 9999;
  background: #dcdde1;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.card{
	float: left;
	width: 80%;
	height: auto;
	background-color: #fff;
	margin-right: 5%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

	.card a h1{
		width: 90%;
		text-align: center;
		font-weight: 700;
		color: #44516c;
		font-size: 15px;
		margin: 20px 5%;
	}

	.card p{
		width: 90%;
		text-align: left;
		font-weight: 400;
		color: #687287;
		font-size: 14px;
		margin: 10px 0 10px 5%;
	}

	.card a.news-link{
		font-size: 14px;
		float: right;
		background-color: #66c301;
		color: #fff;
		text-align: center;
		width: 100%;
		margin-top: 10px;
		font-weight: 300;
		padding: 10px 0;
		border-radius: 0 0 5px 5px;
	}

	.card > img {
		display: block;
		width: 90%;
		margin: 10px 5%;
	}


/* //////////////////////////////////////// */
/* /////////////// Mobile ///////////////// */
/* //////////////////////////////////////// */

@media only screen and (max-width: 425px) {
    .loading{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 128px;
		height: 128px;
		margin: -64px 0 0 -64px; 
	}
}